<StackLayout class="sidedrawer-header" paddingTop="20" height="168" row="0" col="0">
    <!-- <Label [text]="appService.appName" textWrap="true" class="sidedrawer-header-brand h2" [nsRouterLink]="[homePath]"></Label> -->
    <Image [src]="logo" [nsRouterLink]="[homePath]" class="sidedrawer-header-image"></Image>
    <!-- <Button text="Profile" *ngIf="appService.user" textWrap="true" class="sidedrawer-header-brand h3 m-t-10" [nsRouterLink]="[homePath, 'profile', appService.user.username]"></Button> -->
    <!-- <Button text="Login" *ngIf="!appService.user" textWrap="true" class="btn btn-primary m-t-10" (tap)="login()"></Button> -->
</StackLayout>