# system files
.DS_Store
Thumbs.db

# nativescript
/hooks
/node_modules
/platforms
/lib

app/**/*.js
app/**/*.d.ts
app/**/*.map
app/**/*.css

# misc
npm-debug.log

# app
app/assets/aws.json
!app/assets/font-awesome.min.css
!app/assets/ionicons.min.css
!app/webpack.config.js
/report/
.nsbuildinfo
/temp/
/app/tns_modules/

# app uses platform specific scss which can inadvertently get renamed which will cause problems
app/app.scss

package-lock.json
