// overrides
.sidedrawer-left {
  background-color: $ab-background;
  .sidedrawer-header {
      background-color: $side-drawer-header-background;
      .sidedrawer-header-image {
        background-color: $white;
      }
  }
  .sidedrawer-content {
      background-color: $ab-background;
  }
}

.list-group {
  background-color: $black;

  &.modal-select {
    background-color: $white;
  }
}