<sp-header [title]="'Profile'" [rightButton]="editProfile ? ('ion-android-cancel' | fonticon) : ('ion-edit' | fonticon)" (tappedRight)="toggleEdit()"></sp-header>
<StackLayout class="page" sp-route-vcref>
    <ng-template [ngIf]="editProfile">
        <StackLayout class="form p-15">
            <StackLayout class="input-field">
                <Label text="Name" class="label font-weight-bold m-b-5"></Label>
                <TextField hint="Name" class="input" [(ngModel)]="editProfile.displayName"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
            <StackLayout class="input-field">
                <Label text="Twitter handle" class="label font-weight-bold m-b-5"></Label>
                <TextField hint="Twitter handle" class="input" [(ngModel)]="editProfile.twitterHandle"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
            <GridLayout rows="auto" columns="auto,*,auto">
                <Button row="0" col="0" text="Cancel" (tap)="toggleEdit()" class="btn btn-primary btn-grey"></Button>
                <Button row="0" col="2" text="Update" (tap)="update(editProfile)" class="btn btn-primary"></Button>
            </GridLayout>
            
        </StackLayout>
    </ng-template>
    
    <ng-template [ngIf]="!editProfile">
        <GridLayout rows="auto,auto,auto,auto,auto,*,auto,auto" columns="*" class="p-20">
            <Image *ngIf="profile.profileImageUrl" row="0" col="0" [src]="profile.profileImageUrl" height="100" class="m-b-20" horizontalAlignment="left"></Image>
    
            <Label row="1" col="0" [text]="profile.displayName || ''" class="h1 m-b-20"></Label>
            <Label row="2" col="0" [text]="profile.email" class="h3 m-b-20"></Label>
            <Label *ngIf="profile.twitterHandle" row="3" col="0" [text]="'@' + profile.twitterHandle" class="t-20 c-sky m-b-20" (tap)="viewTwitter()"></Label>
            <GridLayout *ngIf="totalCoins" row="4" col="1" rows="auto" columns="*,10,auto,10,auto" class="p-5">
                <Label row="0" col="0" text="Your Coins:" class="h3 text-right"></Label>
                <Label row="0" col="2" [text]="totalCoins" class="h2 font-weight-bold text-right"></Label>
                <Image row="0" col="4" src="~/assets/images/coin.png" class="coin" height="35" horizontalAlignment="center" verticalAlignment="top"></Image>
            </GridLayout>

            <GridLayout row="5" col="0" rows="auto,*" columns="*" *ngIf="failedFrameUploads.length" class="donations p-y-10">
                <Label row="0" col="0" text="Failed frame uploads:" class="h3 m-b-10" textWrap="true"></Label>
                <ListView row="1" col="0" [items]="failedFrameUploads" class="list-group h-full p-10 c-bg-grey" separatorColor="transparent" (itemLoading)="appService.disableRowColor($event)">
                    <ng-template let-storagePath="item" let-i="index">
                        <GridLayout rows="auto" columns="*,auto" class="p-5">
                            <Label row="0" col="0" [text]="storagePath" class="h3 c-grey"></Label>
                            <Button row="0" col="1" text="Retry" (tap)="retry(storagePath)"></Button>
                        </GridLayout>
                    </ng-template>
                </ListView>
            </GridLayout>
            <!-- <GridLayout row="3" col="0" rows="auto,*,10,auto" columns="*" *ngIf="donations$ | async; let donations;" class="donations p-y-10">
            <Label row="0" col="0" text="Your Tip Jar contains:" class="h3 m-b-10" textWrap="true" [visibility]="totalDonations ? 'visible' : 'collapsed'"></Label>
            <ListView row="1" col="0" [items]="donations | orderByDate: 'createDate'" class="list-group h-full p-10 c-bg-grey" separatorColor="transparent"
                (itemLoading)="appService.disableRowColor($event)">
                <ng-template let-donation="item" let-i="index">
                    <GridLayout rows="auto" columns="auto,*,auto" class="p-5">
                        <Label row="0" col="0" [text]="donation.createDate | date:'shortDate'" class="h3 c-grey"></Label>
                        <Label row="0" col="1" [text]="donation.sketchId" class="h3 m-l-10 c-grey"></Label>
                        <Label row="0" col="2" [text]="'$' + (donation.amount | number:'1.2-2')" class="h3 c-grey text-right"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>
            <Label row="3" col="0" [text]="'Total: $' + (totalDonations | number:'1.2-2')" class="h2 total text-right" [visibility]="totalDonations ? 'visible' : 'collapsed'"></Label>
        </GridLayout> -->
            <Button row="6" col="0" [text]="'user.logout' | translate" class="btn btn-primary" (tap)="userService.logout()"></Button>
            <Label row="7" col="0" [text]="appService.appVersion" class="h4 text-center c-grey"></Label>
        </GridLayout>
    </ng-template>
</StackLayout>