// SASS theme setup: https://docs.nativescript.org/ui/theme#sass-usage
@import '~nativescript-theme-core/scss/platforms/index.android';

// place Android overrides here...
// for example, this resets the Button to be consistent with iOS

Button {
  background-color: transparent;
  border-color: transparent;
  border-width: 1;
  text-transform: lowercase;
}
