<GridLayout row="2" col="0" rows="auto,auto,auto" columns="*" class="copyright p-10" (tap)="viewWeb()">
  <!-- <GridLayout columns="60,*,auto" rows="60" row="0" col="0" (tap)="changeNav([homePath])" 
    [class.active]="activeUrl == homePath || activeUrl == '/'">
    <Label [text]="'ion-ios-home-outline' | fonticon" class="ion sidedrawer-list-item-icon" row="0" col="0" (tap)="changeNav([homePath])"></Label>
    <Label [text]="'menu.home' | translate" class="sidedrawer-list-item-text" row="0" col="1" (tap)="changeNav([homePath])"></Label>
  </GridLayout> -->
  <Label row="0" col="0" [text]="'menu.copyright' | translate" class="label"></Label>
</GridLayout>