<!-- <sp-header [title]="selectedTag.name"></sp-header> -->
<!-- <StackLayout class="page" sp-route-vcref>
    <ListView [items]="gatherings" class="list-group h-full" separatorColor="transparent">
        <ng-template let-gathering="item">
          <StackLayout orientation="horizontal" class="list-group-item p-x-10" [nsRouterLink]="[homePath, selectedTag.slug, 'gatherings', gathering.slug]">
            <Label class="ion" [text]="'ion-ios-calendar-outline' | fonticon"></Label>
            <StackLayout class="m-l-10">
                <Label [text]="gathering.name" class="list-group-item-heading"></Label>
                <Label [text]="'Speaker:' + gathering.speaker" class="list-group-item-text"></Label>
            </StackLayout>
          </StackLayout>
        </ng-template>
    </ListView>
</StackLayout> -->
<StackLayout>
    
</StackLayout>
